.vscode/settings.json
steriles/__pycache__/usphere_utils.cpython-37.pyc
steriles/data_files/*.npz
steriles/data_files/old/*.npz
steriles/pdfs/*.npz
dsq*
~$neut_xs.xlsx
neut_xs.xlsx
*.tsv
*.out
job_files/*.txt
